 <div id="NameAndTitle">
    <div>
        <h1>{{PersonalData.Nome}}</h1>
        <h2>{{PersonalData.Title}}</h2>
    </div>
    <div>
        <h3>{{PersonalData.AboutMe}}</h3>
    </div>
</div>


<div id="Techs" class="gridElement">
    <div>
        <div id="TechsContainer">
            <h1>{{PersonalData.Job}}</h1>
            <div id="MainTechs">
                <div class="TechButton" *ngFor="let item of PersonalData.MainTechs">
                    <app-icon [icon]="item.Icon" [origin]="item.Origin" [fontSize]="60"></app-icon>
                    <h3 class="TechButton-Title">{{item.Name}}</h3>            
                </div>
            </div>
        </div>
    </div>
    <div class="hide-sm">
        <h3>{{PersonalData.KeyPhrase}}</h3>
    </div>
</div> 
<div id="Container3d" class="gridElement">    
    <img src="https://st3.depositphotos.com/1518767/14155/i/450/depositphotos_141552226-stock-photo-man-working-on-desktop-pc.jpg">         
</div>