<header>
    <section id="Greetings">
        <div class="btn primary right"><span>Hi, I'm <b>{{PersonalDataObj.Name}}</b></span></div>
        <div class="btn segundary right"><span class="padding-left-200"><b>{{PersonalDataObj.Job}}</b></span></div>
    </section>
    <section id="IconsWrapper">
        <div class="iconImg"><img src="assets/Icons/angular.svg"> </div>
        <div class="iconImg"><img src="assets/Icons/dotnet.svg"> </div>
        <div class="iconImg"><img src="assets/Icons/Sql.svg"> </div>
    </section>
    <section id="AreYouReadyText" class="colspan">
        <h2>Are you ready to make an amazing website?</h2>
    </section>
</header>
<main>
    <section id="FeaturesWrapper">
        <div id="ImgSubjectWrapper">
            <img id="ImgSubject" src="assets/Images/subject1.png">
        </div>
        <div id="FeaturesCardsWrapper">
            <div class="feature-card">
                <img class="iconFeatures" src="assets/Icons/responsive-design.png">
                <div class="contentFeatures">
                    <h3>Responsive</h3>
                    <span>Texto</span>
                </div>
            </div>
            <div class="feature-card">
                <img class="iconFeatures" src="assets/Icons/paint-palette.png">
                <h3>Customized</h3>
            </div>
            <div class="feature-card">
                <img class="iconFeatures" src="assets/Icons/multilingual.png">
                <h3>Multilingual</h3>
            </div>
            <div class="feature-card">
                <img class="iconFeatures" src="assets/Icons/ui-ux.png">
                <h3>User Focused</h3>
            </div>
            <div class="feature-card">
                <img class="iconFeatures" src="assets/Icons/programming.png">
                <h3>Scalable Architecture</h3>
            </div>
            <div class="feature-card">
                <img class="iconFeatures" src="assets/Icons/app-development.png">
                <h3>Developer Maintenance</h3>
            </div>
        </div>
    </section>
</main>